---
layout: base
title: TrettiFem
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TrettiFem - Gir studentene mer innflytelse i studentdemokratiet</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="normalize.css">
  <link href="https://unpkg.com/tippy.js@1.3.0/dist/tippy.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"
        rel="stylesheet">
</head>
<body>
<div class="app">
  <div class="left">
    {% for vote in site.votes %}
    <div class="vote">
      <h2>{{ vote.title }}</h2>
      <a href="{{ vote.href }}">Mer informasjon om saken</a>
      <div class="distrubution">
        {% for i in (1..vote.votes) %}
        ■
        {% endfor %}
        {% for i in (vote.votes..vote.totalVotes) %}
        □ 
        {% endfor %}
      </div>
      <div class="partyparty">
        {% for party in site.parties %}
        <div class="partyparty-inner">
          <img src="{{party.logo}}" title="{{party.navn}}" class="partylogo" />
          <img src="thumbs-up.svg" class="partyvote" />
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="https://unpkg.com/tippy.js@1.3.0/dist/tippy.min.js"></script>
<script>
  tippy(".partylogo", {
    arrow: true,
  })
</script>
</body>
</html>