---
layout: base
title: TrettiFem
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TrettiFem - Gir studentene mer innflytelse i studentdemokratiet</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="normalize.css">
  <link href="https://unpkg.com/tippy.js@1.3.0/dist/tippy.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"
        rel="stylesheet">
</head>
<body>
<div class="app">
  <div class="left">
    {% for vote in site.votes %}
    <div class="vote">
      <h2>{{ vote.title }}</h2>
      <a href="{{ vote.href }}">Mer informasjon om saken</a>
      <div class="distrubution">
        {% for i in (1..vote.votes) %}
        ■
        {% endfor %}
        {% for i in (vote.votes..vote.totalVotes) %}
        □
        {% endfor %}
      </div>
      <div class="partyparty">
        {% for party in site.parties %}
        <div class="partyparty-inner">
          <img src="{{ party.logo }}" title="{{ party.name }}" class="partylogo" />
          {% if vote.for contains party.id %}
          <img src="thumbs-up.svg" class="partyvote" />
          {% else %}
          <img src="thumbs-down.svg" class="partyvote" />
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="right">
    <img class="logo" src="trettifem-logo.svg" alt="TrettiFem"/>
    <h1>«Gi studentene mer innflytelse i studentdemokratiet»</h1>
    <p class="menu"><a href="#">Hjem</a> • <a href="#">Blogg</a> • <a href="#">Om oss</a></p>
    <div class="articles">
      <div>
        <a href="#"><h2>Maktvakumet på Villa Eika</h2></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, leo non congue
          gravida, purus tortor posuere arcu, in consectetur lacus arcu cursus est. Aenean faucibus
          sapien eu leo tincidunt lacinia quis quis sapien</p>
      </div>
      <div>
        <a href="#"><h2>Leder: Trenger vi egentlig studentparlamentet</h2></a>
        <p>Suspendisse at dapibus nulla. Maecenas mattis justo lorem, vel viverra mi vulputate eget.
          Aenean venenatis ex lorem, vitae feugiat dolor volutpat ut. Sed eros dui, interdum in
          ornare sed, tincidunt quis arcu. Sed ultrices</p>
      </div>
      <div class="button">
        <a href="#">Se flere</a>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/tippy.js@1.3.0/dist/tippy.min.js"></script>
<script>
  tippy(".partylogo", {
    arrow: true,
  })
</script>
</body>
</html>